@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

*,*::before,*::after{
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;;
}

body{
  margin: 0;
}
img{
  max-width: 100%;
}

.wrapper{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-pink);
  background-image: url(assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card{
  width: 90%;
  margin-inline: auto;
  background-color: white;
  border-radius: 10px;
  padding: 1.25rem;
}

.title{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title img{
  width: 25px;
}
h1{
  font-size: 2rem;
  margin: 0;
}

.faq-question{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2{
  font-size: 1rem;
  font-weight: 700;
}
.icon{
  width: 25px;
}

.faq-answer{
  display: none;
}

